<div *ngIf="league">
    
    <h2 *ngIf="!league.id">Nueva Liga</h2>
    <h2 *ngIf="league.id">"{{league.name}}"</h2>

    <div>
        <label>Nombre: </label>
        <input [(ngModel)]="league.name" placeholder="Nombre" />
    </div>
    <br>
    <p>Image: </p>
    <img [src]="leagueImage()"><br>
  
    <ng-template [ngIf]="league.id">
      <br><input type='checkbox' name='removeImage' [(ngModel)]="removeImage"> <label>Quitar imagen</label><br>
  
      <label>Subir imágen: </label><br>
    </ng-template>
    <br>
    <div>
        <label>Nacionalidad: </label>
        <input [(ngModel)]="league.nationality" placeholder="Nacionalidad" />
    </div>
    <br>
    <div>
        <label>Presidente: </label>
        <input [(ngModel)]="league.president" placeholder="Presidente">
    </div>
    <br>

    <p>
        <button (click)="cancel()">Cancelar</button>
        <button (click)="save()">Crear Liga</button>
    </p>
</div>