<div *ngIf="league">

  <h2>"{{league.name}}"</h2>
  <div>
      <p>{{league.president}}</p>
      <p>{{league.nationality}}</p>
  </div>

  <h3>Equipos</h3>
  <ul class="items">
    <li *ngFor="let team of teams">
      <a [routerLink]="['/teams', team.id]">{{team.name}}</a>
      <a>{{team.points}}</a>
    </li>
  </ul>

  <p>
  <button *ngIf="loginService.isLogged()" (click)="createTeam()">Crear Equipo</button>
  </p>

  <h3>Partidos</h3>
  <ul class="items">
    <li *ngFor="let match of matches">
      <a [routerLink]="['/matches', match.id]">{{match.name}}</a>
      <a>{{match.place}}</a>
    </li>
  </ul>
  
  <p>
  <button *ngIf="loginService.isLogged()" (click)="createMatch()">Crear Partido</button>
  </p>

  <p>
    <button (click)="gotoLeagues()">Otras ligas</button>
  </p>

  <h3 *ngIf="loginService.isLogged()" (click)="createMatch()">
    Opciones de Usuario
  </h3>

  <p> 
  <button *ngIf="loginService.isLogged() && loginService.isAdmin()" (click)="removeLeague()">Remove</button>
  <button *ngIf="loginService.isLogged()" (click)="editLeague()">Edit</button>
  </p>

</div>