<body>
    <div class="container" *ngIf="league">

        <h2 *ngIf="!league.id">Nueva Liga</h2>
        <h2 *ngIf="league.id">"{{league.name}}"</h2>

        <div>
            <h3>Nombre: </h3>
            <input [(ngModel)]="league.name" placeholder="Nombre" />
        </div>
        <br>
        <label>Image: </label>
        <img [src]="leagueImage()"><br>

        <ng-template [ngIf]="league.id">
            <br>
            <label>Quitar imagen</label>
            <input type='checkbox' name='removeImage' [(ngModel)]="removeImage"> 
            <br>
            <label for="uploadImage">Subir imagen:</label>
            <input type="file" id="uploadImage" #uploadImage (change)="onFileSelected($event)" />
        </ng-template>
        <br>
        <div>
            <p>Nacionalidad: </p>
            <input [(ngModel)]="league.nationality" placeholder="Nacionalidad" />
            <p>Presidente: </p>
            <input [(ngModel)]="league.president" placeholder="Presidente">
        </div>
        <br>
        <p>
            <button (click)="cancel()">Cancelar</button>
            <button (click)="save()">Crear Liga</button>
        </p>
    </div>
</body>