.server-error-container {
    text-align: center;
    padding: 50px;
    font-family: Arial, sans-serif;
    background: url('src/assets/500-background.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    min-height: 100vh; /* Asegura que la página ocupe toda la altura de la pantalla */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .title {
    font-size: 48px;
    margin-bottom: 10px;
    color: #ffeb3b; /* Un amarillo brillante que resalta sobre el fondo */
    text-transform: uppercase;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Agrega sombra para mejor legibilidad */
  }
  
  .message {
    font-size: 20px;
    margin-bottom: 30px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7); /* Mejora la legibilidad del texto */
  }
  
  .btn-home {
    display: inline-block;
    padding: 12px 25px;
    background-color: rgba(33, 150, 243, 0.9); /* Fondo azul con transparencia */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
    font-size: 18px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); /* Ligera sombra para el texto */
  }
  
  .btn-home:hover {
    background-color: rgba(25, 118, 210, 0.9);
    transform: scale(1.1); /* Efecto de agrandamiento */
  }
  
  .btn-home:focus {
    outline: 2px solid #ffeb3b; /* Resalta el botón al enfocarse */
    outline-offset: 2px;
  }
  
  