body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    background-image: url('src/assets/Backend.jpg');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h2 {
    font-size: 1.8rem;
    color: #fff;
    margin: 1.5rem 0 1rem;
    border-bottom: 2px solid #aaa;
    padding-bottom: 0.5rem;
}

label {
    font-size: 1rem;
    color: #fff;
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
    text-align: left;
}

p {
    text-align: left;
}

div {
    width: 100%;
    margin: 1rem 0;
    padding: 1rem;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="text"], input[type="number"], select {
    font-size: 1rem;
    padding: 0.5rem;
    border: 1px solid #333;
    border-radius: 4px;
    width: 100%;
    max-width: 400px;
    margin-bottom: 1rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

input:focus, select:focus {
    border-color: #007bff;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
    outline: none;
}

button {
    display: inline-block;
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    margin: 0.5rem;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
}

button:hover {
    background-color: #218838;
    transform: translateY(-2px);
}

button.cancel {
    background-color: #dc3545;
}

button.cancel:hover {
    background-color: #c82333;
}

img {
    display: block;
    margin: 1rem auto;
    max-width: 200px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

br {
    margin-bottom: 1rem;
}

select {
    font-size: 1rem;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 1rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

select:focus {
    border-color: #007bff;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
    outline: none;
}
