<body>
    <div class="container" *ngIf="team">

        <h2 *ngIf="!team.id">Nuevo Equipo</h2>
        <h2 *ngIf="team.id">"{{team.name}}"</h2>

        <div>
            <h3>Nombre: </h3>
            <input [(ngModel)]="team.name" placeholder="Nombre" />
        </div>
        <br>
        <label>Image: </label>
        <img [src]="teamImage()"><br>

        <ng-template [ngIf]="team.id">
            <br>
            <label>Quitar imagen</label>
            <input type='checkbox' name='removeImage' [(ngModel)]="removeImage">
            <br>
            <label for="uploadImage">Subir imagen:</label>
            <input type="file" id="uploadImage" #uploadImage (change)="onFileSelected($event)" />
        </ng-template>
        <br>
        <div>
            <p>Trofeos: </p>
            <input [(ngModel)]="team.trophies" placeholder="Trofeos" />
            <p>Nacionalidad: </p>
            <input [(ngModel)]="team.nationality" placeholder="Nacionalidad" />
            <p>Entrenador: </p>
            <input [(ngModel)]="team.trainer" placeholder="Entrenador" />
            <p>Segundo Entrenador: </p>
            <input [(ngModel)]="team.secondTrainer" placeholder="Segundo Entrenador" />
            <p>Presidente: </p>
            <input [(ngModel)]="team.president" placeholder="Entrenador">
            <p>Estadio: </p>
            <input [(ngModel)]="team.stadium" placeholder="Estadio" />
            <p>Puntos: </p>
            <input [(ngModel)]="team.points" placeholder="Puntos" />
        </div>

        <label>
            <h3>Liga:</h3>
            <select [(ngModel)]="team.league" name="leagueName" required>
                <option *ngFor="let league of leagues" [value]="league.name">
                    {{ league.name }}
                </option>
            </select>
        </label>


        <p>
            <button (click)="cancel()">Cancel</button>
            <button (click)="save()">Save</button>
        </p>
    </div>
</body>