<body>
    <div class="container" *ngIf="user">

        <h2 *ngIf="!user.id">Nuevo Usuario</h2>
        <h2 *ngIf="user.id">"{{user.name}}"</h2>

        <div>
            <h3>Nombre: </h3>
            <input [(ngModel)]="user.name" placeholder="Nombre" />
        </div>
        <br>
        <div>
            <h3>Contraseña: </h3>
            <input [(ngModel)]="user.password" placeholder="Contraseña" />
        </div>

        <div>
            <h3>Dirección de correo electrónico: </h3>
            <input [(ngModel)]="user.email" placeholder="email@gmail.com" />
        </div>

        <p>Image: </p>
        <img [src]="userImage()"><br>

        <ng-template [ngIf]="user.id">
            <br>
            <label>Quitar imagen</label>
            <input type='checkbox' name='removeImage' [(ngModel)]="removeImage">
            <br>
            <label for="uploadImage">Subir imagen:</label>
            <input type="file" id="imageFile" (change)="onFileSelected($event)" accept=".jpg, .jpeg" />
        </ng-template>

        <p>
            <button (click)="cancel()">Cancelar</button>
            <button (click)="save()">Guardar</button>
        </p>
    </div>
</body>
